<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <img src="Assets/banner.jpg"> 
        <div class="jumbotron">
            <h1>My	Favourite	People</h1>
            <p>by Cindy Diaz</p>
            <p>Please go to <a href="/people" >'People'</a> Page to see my selection</p>
        </div>
    </main>
<% include partials/footer.ejs %>