<!--
Landing Page
Author: Cindy Diaz
Webiste: Favourite People Website (http://midterm-cindydiaz.azurewebsites.net/)
This file is our home page, includes title and image
-->
<% include partials/header.ejs %>
<% include partials/navbar.ejs %>   
<% include partials/banner.ejs %>  
    <main class="container">
      <h1 class="text-center"> Go to <a href="/people">People Page</a> to view my selection
    </main>
<% include partials/footer.ejs %>