<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1><%= title %> Page</h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis mattis turpis, semper vehicula libero. Phasellus orci eros, pulvinar vel tortor vel, maximus rhoncus nisl. Nullam sit amet massa ut orci consequat dapibus. In ligula nulla, consectetur ut vestibulum ac, commodo vitae nisl. Vestibulum malesuada euismod nisi nec porttitor. In hac habitasse platea dictumst. In a viverra lacus. Suspendisse nec sapien sagittis sem cursus pharetra. Curabitur a malesuada arcu. Nullam eget suscipit dui. Mauris malesuada urna leo, quis lacinia felis posuere quis. Vivamus cursus dictum orci, ultricies vehicula dui rutrum vel.</p>    
        <p>Vestibulum egestas leo urna, et convallis nisi hendrerit et. Nullam in justo fringilla, congue metus at, blandit mauris. Proin imperdiet nunc non eros eleifend rhoncus. Morbi ullamcorper varius nulla ac cursus. Nunc at nibh dapibus, euismod dolor at, malesuada justo. Nunc at fermentum purus, eget volutpat neque. Suspendisse commodo purus at sem pellentesque volutpat. Integer a magna ligula. Nam gravida vestibulum sapien, id eleifend magna facilisis eget. Nulla commodo tristique ante, a mattis tellus placerat id. Fusce faucibus ipsum quis nibh congue, sed egestas elit sodales. Pellentesque pellentesque scelerisque elit, ac finibus risus rutrum id.</p>
    </main>
<% include partials/footer.ejs %>