<!--
People Page 
Author: Cindy Diaz
Webiste: Favourite People Website (http://midterm-cindydiaz.azurewebsites.net/)
This file includes the list of favourite people
-->
<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<% include partials/banner.ejs %>
<main class="container">
    <h1 class="text-center">My selection is based on my hobbies:<br> Tennis, Watching TV, and Soccer</h1>
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img src="/Assets/roger-federer.jpg" alt="Roger Federer">
            <div class="caption">
                <h3>Roger Federer - Professional Tennis Player</h3>
                <p>Born in 1981 in Switzerland, Roger Federer was among his country's top junior tennis players by age 11. He turned pro in 1998, and with his victory at Wimbledon in 2003 he became the first Swiss man to win a Grand Slam singles title. Ranked No. 1 in the world from 2004 into 2008, and again in parts of 2009, 2010 and 2012, the graceful star set a record with 17 Grand Slam singles championships.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img src="/Assets/barney-stinson.jpg" alt="Barney Stinson">
            <div class="caption">
            <h3>Barney Stinsom - TV Show Character</h3>
            <p>Barnabus "Barney" Stinson, is a one of the five main characters of How I Met Your Mother, portrayed by Neil Patrick Harris. He first met Ted Mosby in MacLaren's Pub in 2001, and since meeting him, he has been a big part of the gang and believes he's Ted's best friend.
               The character loves expensive suits, laser tag, alcohol and catchphrases, including "Suit up!", "Legen-wait-for-it-dary" and "Wait for it".</p>
                
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img src="/Assets/iker-casillas.jpg" alt="Iker Casillas">
            <div class="caption">
            <h3>Iker Casillas - Professional Soccer Player</h3>
            <p>Born on May 20, 1981, in Móstoles, Spain, Iker Casillas joined the Real Madrid youth system at age 9. He became the youngest goalkeeper to start in a Champions League final match in 2000, and sparked Real Madrid to multiple domestic titles in subsequent years. Casillas also starred for the Spanish teams that won the 2010 FIFA World Cup and the 2008 and 2012 European Championships.</p>       
            </div>
        </div>
    </div>
</main>
<% include partials/footer.ejs %>