    <% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<main class="container">
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img src="/Assets/roger-federer.jpg" alt="Roger Federer">
            <div class="caption">
                <h3>Roger Federer - Professional Tennis Player</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img src="/Assets/barney-stinson.jpg" alt="Barney Stinson">
            <div class="caption">
            <h3>Barney Stinsom - TV Show Character</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img src="/Assets/iker-casillas.jpg" alt="Iker Casillas">
            <div class="caption">
            <h3>Iker Casillas - Professional Soccer Player</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            
            </div>
        </div>
    </div>
</main>
<% include partials/footer.ejs %>